<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KKLTesting.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KKLTesting.Settings>
            <setting name="url" serializeAs="String">
                <value>http://kkl-psu.dbex.org/#/user/TesCase1</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>paxa18871</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>pavel1987</value>
            </setting>
            <setting name="time" serializeAs="String">
                <value>100</value>
            </setting>
        </KKLTesting.Settings>
    </userSettings>
</configuration>